// colors
$white-color: #ffffff;
$green-color: #A8AF9C;
$black-color: #000000;
$gold2-color: linear-gradient(126.1deg, #E3B373 6.83%, #FEE0B7 39.65%, #FEE5C5 61.73%, #DEA760 84.52%, #C3843E 106.27%);

$btn-hover-green:#CDD6BF;
$btn-hover-orange:#E8B47F;
// fonts

$main-font: 'Futura PT Book';
$second-font: 'Futura PT Demi';