
@media (max-width: 767px) {

    .slider{
        
        display: flex;
        height: 432px;
        position: relative;
        @media (max-width: 380px) {
            height: 350px;
        }
    }   
    .slider__item{

        width: 0;
        opacity: 0;
        position: absolute;
        top: -100%;
        transition: all .9s ease;
    
        &_active{
            position: static;
            top: 0;
            width: 100%;
            opacity: 1;
            
                 
        }
    }


    .slider__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 21px;
    }
    .slider-dot {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: rgba(168, 175, 156, 0.3);
        cursor: pointer;
        
        &_active{
            background: #A8AF9C;
        }
    }


    .slider__btns {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-53%, -50%);
        width: 100%;
        height: 432px;
    }
    
    .slider__btn-right {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background: transparent;
    }
    .slider__btn-left {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        background: transparent;
    }

}


